@layer components {
  .dash-border {
    border-image: url('/images/dash-border.svg') 14 / 16px round;
  }

  .dash-border-right-none {
    border-image-width: 16px 0 16px 16px;
  }

  .dash-border-right-and-bottom-none {
    border-image-width: 16px 0 0 16px;
  }
}
