@layer components {
  .dash-border {
    border-image: url('/images/dash-border.svg') 5 / 5px round;
  }

  .dash-border-right-none {
    border-image-width: 5px 0 5px 5px;
  }

  .dash-border-right-and-bottom-none {
    border-image-width: 5px 0 0 5px;
  }
}
