/* TODO: Add global styles: font-size, color, and other if needed */
@layer base {
  body {
    @apply min-w-[320px] font-sans text-primary-1 antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 24px 24px 24px;
    border-color: transparent transparent #daf2f4 transparent;
    transform: rotate(225deg);
  }
}
