/* TODO: Add global styles: font-size, color, and other if needed */
@layer base {
  body {
    @apply min-w-[320px] font-sans text-primary-1 antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 26px 26px 26px;
    border-color: transparent transparent #daf2f4 transparent;
    transform: rotate(225deg);
  }
}

@layer components {
  .square-square-bullet {
    @apply relative pl-3.5 before:absolute before:left-0 before:top-2.5 before:block before:h-1 before:w-1 before:bg-orange before:leading-none;
  }

  .with-square-bullet {
    ul > li {
      @apply square-square-bullet;
    }
  }
}
